.elementHidden {
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.elementShow {
    opacity: 1;
}

/* Start Nav List */
.nav-list a:nth-child(1).elementShow,
.nav-list a:nth-child(2).elementShow,
.nav-list a:nth-child(3).elementShow,
.nav-list a:nth-child(4).elementShow,
.nav-list a:nth-child(5).elementShow,
.top-mobile.elementShow,
.heliconia :nth-child(1).elementShow,
.heliconia :nth-child(2).elementShow,
.heliconia :nth-child(3).elementShow,
.heliconia :nth-child(4).elementShow,
.welcome :nth-child(1).elementShow,
.welcome :nth-child(2).elementShow,
.welcome :nth-child(3).elementShow,
.palette.elementShow,
.scroll-indicator :nth-child(1).elementShow,
.scroll-indicator :nth-child(2).elementShow,
.collection-title.elementShow,
.project-title.elementShow,
.about-title.elementShow,
.about-desc.elementShow,
.social-media-group.elementShow,
.img-collection.elementShow,
.education-title.elementShow,
.education-timeline.elementShow,
.project-list.elementShow,
.project-list div:nth-child(1).elementShow,
.project-list div:nth-child(2).elementShow,
.project-list div:nth-child(3).elementShow,
.project-list div:nth-child(4).elementShow,
.project-list div:nth-child(5).elementShow,
.project-list div:nth-child(6).elementShow,
.expertise-title.elementShow,
.expertise-list :nth-child(1).elementShow,
.expertise-list :nth-child(2).elementShow,
.expertise-list :nth-child(3).elementShow,
.expertise-list :nth-child(4).elementShow,
.expertise-list :nth-child(5).elementShow,
.expertise-list :nth-child(6).elementShow,
.expertise-list :nth-child(7).elementShow,
.expertise-list :nth-child(8).elementShow,
.expertise-list :nth-child(9).elementShow,
.expertise-list :nth-child(10).elementShow,
.expertise-list :nth-child(11).elementShow,
.expertise-list :nth-child(12).elementShow,
.name-tag.elementShow,
.footer-list :nth-child(1).elementShow,
.footer-list :nth-child(2).elementShow,
.cryon-title :nth-child(1).elementShow,
.cryon-title :nth-child(2).elementShow
{
    transform: translate(0);
}

.nav-list a:nth-child(2).elementShow,
.welcome :nth-child(1).elementShow,
.palette.elementShow,
.scroll-indicator :nth-child(2).elementShow,
.cryon-title :nth-child(2).elementShow {
    transition-delay: 200ms;
}
.nav-list a:nth-child(3).elementShow,
.welcome :nth-child(2).elementShow {
    transition-delay: 400ms;
}
.nav-list a:nth-child(4).elementShow,
.welcome :nth-child(3).elementShow {
    transition-delay: 600ms;
}
.nav-list a:nth-child(5).elementShow{
    transition-delay: 800ms;
}
/* End Nav List */

.cryon-title :nth-child(2).elementShow
{
    transform: rotate(-90deg);
}
/* End Cryon Title */

/* Start Full Collection */
.full-collection-btn.elementShow,
.portfolio-btn.elementShow,
.cv-btn.elementShow,
.footer-list :nth-child(3).elementShow {
    transform: scale(1);
}
/* End Full Collection */